<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guess the Flag</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Guess the Flag From <%= total %> Countries</h1>
  <table>
    <tr valign="middle">
      <td width="70%">
        <img id="flag" src="<%= flagUrl %>" alt="Flag">
      </td>
      <td>
        <span id="last-guess-box" style="display: none;">
          <h4>Last Guess</h4>
          <p id="last-guess"></p>
          <img id="last-flag" src="<%= lastFlagUrl %>" alt="Flag">
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>Scores</strong> Correct: <span id="correct-count-display"><%= correctCount %></span>, Incorrect: <span id="incorrect-count-display"><%= incorrectCount %></span>
      </td>
    </tr>
  </table>

  <form id="guess-form" action="/guess" method="POST">
    <input id="country-code" type="hidden" name="countryCode" value="<%= country.code %>">
    <input id="country-name" type="hidden" name="countryName" value="<%= country.name %>">
    <input id="correct-count" type="hidden" name="correctCount" value="<%= correctCount %>">
    <input id="incorrect-count" type="hidden" name="incorrectCount" value="<%= incorrectCount %>">
    <div>
      <% options.forEach((option, index) => { %>
        <% if (index % 3 === 0) { %>
          <div class="button-row">
        <% } %>
        <button id="option-<%= index %>" type="submit" name="guessCode" value="<%= option.code %>"><%= option.name %></button>
        <% if (index % 3 === 2 || index === options.length - 1) { %>
          </div>
        <% } %>
      <% }) %>
    </div>
  </form>

  <hr>

  <form action="/reset" method="POST">
    <button type="submit">Restart</button>
  </form>

  <script>
    // Existing JavaScript code
    // ...
  </script>
</body>
</html>
